@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');


body{
  background-color: #8ecae6;
  font-family: 'Yusei Magic', sans-serif;
  max-width: 1000px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
img {
  display: inline-block;
  position: relative;
  width: 800px;
  margin-top: 40px;
  margin-bottom: 10px;
  margin-left: 100px;
  margin-right: 40px;
  border: 2px solid black;
}


header p {
  position: relative;
  right: 50px;
  width: 800px;
  margin-left: 150px;
}

#reveal,
#submit, 
button {
  background: #ffe066;
  border-radius: 20%;
  /* display: inline-block; */
  /* position: relative; */
}

#reveal:hover,
#submit:hover,
button:hover {
  background: #fdffb6;
}

#start {
  position: relative;
  padding: 20px;
  align-self: flex-end;
  bottom: 250px;
  left: 10%;
}

form {
  visibility: hidden;
  display: inline-flex;
  margin-top: 3%;
  margin-left: 100px;
  width: 350px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 20%;
  background-color: whitesmoke;
  font-size: 14px;
  padding-bottom: 2%;
  flex-direction: column;
  align-items: center;

}


label {
  align-self: flex-start;
  margin-right:1%;
  position: relative;
  margin-left: 10px;
}


div{
  visibility: hidden;
  max-width: 400px;
  display: inline-block;
  position: relative;
  border: 2px solid black;
  background-color: whitesmoke;
  padding: 20px;
  left: 20%;
  top: 20px;
}

#entries {
  position: relative;
  border-color: black;
  left: 40px;
  margin-bottom: 10px;
  bottom: 20px;
}

#alert {
  text-align: center;
  display: none;
}

#submit {
  position: relative;
  width: 100px;
}

#reveal {
  visibility: hidden;
  position: relative;
  left: 40%;
  bottom: 40px;
}
#again {
  display: none;
  position: relative;
  right: 10%;
  top: 100px;
}


footer {
  position: relative; 
  top: 50px;
}
footer p {
  position: relative;
  margin-top: 50px;
  text-align: center;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


@media screen and (max-width:1400px) {
  #start {
    align-self: flex-start;
    position: relative;
    top: 30px;
    left: 20%;
    margin-bottom: 40px;
  }

}
@media screen and (max-width: 1125px) {

  img,
  header p{
    width:600px;
  }

  #reveal {
    top: 50px;
  }
}
@media screen and (max-width: 950px){
  div{
    left: 0%;
  }

  img {
    margin-left: 100px;
  }
  header p {
    width: 500px;
    margin-left: 100px;
  }
}
@media screen and (max-width:750px){
  img{
    width: 500px;
    margin-left: 50px;;
  }

  #again {
    right: 30%;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 620px){
  img{
    margin-left: 50px;
    width: 400px;
  }

  header p {
    margin-left: 100px;
    width: 400px;
  }

  div{
    max-width: 500px;
    margin-left: 40px;
    left: 0%;
  }

  #again{
    /* position: relative; */
    left: 40%;
    margin-bottom: 10px;
  }
}